<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=381529118681536&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1 ng-if="!gameStart && !isCreator">You have been invited to play TicTacToe</h1>
    <h1 ng-if="!gameStart && isCreator">Waiting for player!<br>
      <div class="fb-send" data-href="http://tic.batman.wtf/play/{{uuid}}" data-colorscheme="light"></div>
    </h1>
    <h1 ng-if="gameStart">Enjoy TicTacToe!</h1>
  </div>
</header>

<div class="container">
  <div class="move-zone" ng-if="isCreator && !gameStart">

      <img class="object pacman move-right" src="../assets/images/ajax-loader.gif" alt="Waiting for player"/>

  </div>

  <div class="panel panel-default" ng-if="!gameStart && !isCreator">
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputJoinName" class="col-sm-2 control-label">User name</label>
          <div class="col-sm-10">
            <input type="text" ng-model="userName" class="form-control" id="inputJoinName" placeholder="User name">
          </div>
        </div>

        <div class="alert alert-warning" role="alert" ng-show="error">All fields are required!</div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click="joinGame(userName)" id="joinGame" class="btn btn-default">Join Game</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row" ng-if="gameOver">

    <div class="alert alert-success gameover-alert" role="alert">Game OVER! - Winner: <strong>{{winner}}</strong></div></div>


  <div class="row" ng-if="gameStart">
    <div class="col-md-6">
      <table id="tictactoeBoard">

        <tr>
          <td id="x0y0" ng-click="move(0,0)">{{board[0][0]}}</td>
          <td id="x0y1" ng-click="move(0,1)">{{board[0][1]}}</td>
          <td id="x0y2" ng-click="move(0,2)">{{board[0][2]}}</td>
        </tr>
        <tr>
          <td id="x1y0" ng-click="move(1,0)">{{board[1][0]}}</td>
          <td id="x1y1" ng-click="move(1,1)">{{board[1][1]}}</td>
          <td id="x1y2" ng-click="move(1,2)">{{board[1][2]}}</td>
        </tr>
        <tr>
          <td id="x2y0" ng-click="move(2,0)">{{board[2][0]}}</td>
          <td id="x2y1" ng-click="move(2,1)">{{board[2][1]}}</td>
          <td id="x2y2" ng-click="move(2,2)">{{board[2][2]}}</td>
        </tr>

    </table>
    </div>

    <div class="col-md-3">

      <div ng-class="{ 'panel panel-default': nextUp !== creatorName , 'panel panel-primary': nextUp === creatorName  }">
        <div class="panel-heading">
          <h3 class="panel-title"><Strong>X</Strong> <strong ng-if="creatorName === userName"> - This is YOU!</strong></h3>
        </div>
        <div class="panel-body">
          User: {{creatorName}} <br>

        </div>
      </div>
      </div>
    <div class="col-md-3">

      <div ng-class="{ 'panel panel-default': nextUp !== joinName , 'panel panel-primary': nextUp === joinName  }">
        <div class="panel-heading">
          <h3 class="panel-title"><Strong>O</Strong> <strong ng-if="joinName === userName"> - This is YOU!</strong></h3>
        </div>
        <div class="panel-body">
          User: {{joinName}} <br>

        </div>
      </div>
    </div>

    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Event History</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-info" role="alert" ng-repeat="event in events">
          {{event.event}} by  <strong>{{ event.user.userName }}</strong>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
