<header class="hero-unit" id="banner">
  <div class="container">
    <h1 ng-if="!gameStart">Waiting for player!
    </h1>
    <h1 ng-if="gameStart">Enjoy TicTacToe!</h1>
  </div>
</header>

<div class="container">

  <div class="panel panel-default" ng-if="!gameStart">
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="inputUserName" class="col-sm-2 control-label">User name</label>
          <div class="col-sm-10">
            <input type="text" ng-model="userName" class="form-control" id="inputUserName" placeholder="User name">
          </div>
        </div>

        <div class="alert alert-warning" role="alert" ng-show="error">All fields are required!</div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-click="joinGame(userName)" class="btn btn-default">Join Game</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row" ng-if="gameOver">

    <div class="alert alert-success gameover-alert" role="alert">Game OVER! - Winner: <strong>{{winner}}</strong></div></div>


  <div class="row" ng-if="gameStart">
    <div class="col-md-6">
      <table>

        <tr>
          <td id="0" ng-click="move(0,0)">{{board[0][0]}}</td>
          <td id="1" ng-click="move(0,1)">{{board[0][1]}}</td>
          <td id="2" ng-click="move(0,2)">{{board[0][2]}}</td>
        </tr>
        <tr>
          <td id="3" ng-click="move(1,0)">{{board[1][0]}}</td>
          <td id="4" ng-click="move(1,1)">{{board[1][1]}}</td>
          <td id="5" ng-click="move(1,2)">{{board[1][2]}}</td>
        </tr>
        <tr>
          <td id="6" ng-click="move(2,0)">{{board[2][0]}}</td>
          <td id="7" ng-click="move(2,1)">{{board[2][1]}}</td>
          <td id="8" ng-click="move(2,2)">{{board[2][2]}}</td>
        </tr>

    </table>
    </div>

    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><Strong>X</Strong> <strong ng-if="creatorName === userName"> - This is YOU!</strong></h3>
        </div>
        <div class="panel-body">
          User: {{creatorName}} <br>

        </div>
      </div>
      </div>
    <div class="col-md-3">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><Strong>O</Strong> <strong ng-if="joinName === userName"> - This is YOU!</strong></h3>
        </div>
        <div class="panel-body">
          User: {{joinName}} <br>

        </div>
      </div>
    </div>

    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Event History</h3>
      </div>
      <div class="panel-body">
        <div class="alert alert-info" role="alert" ng-repeat="event in events">
          {{event.event}}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
